{% extends 'main/base.html' %}

{% block title %}
    Visualizations
{% endblock %}

{% block content %}
<div class="container-fluid d-flex justify-content-center mt-5">
    <div class="card shadow-lg p-4 text-center">
  
      <h1 class="text-center mb-4">📊 Create Visualizations</h1>
  
      <div class="row">
        <!-- טופס הפצה -->
        <div class="col-md-6 border-right pr-md-4 mb-4 mb-md-0">
          <form method="post">
            {% csrf_token %}
            <h5 class="text-center mb-3">🔹 Plot Distribution</h5>
            <div class="form-group">
              <label for="column">Select a column:</label>
              {{ column_form.column }}
            </div>
            <input type="hidden" name="single_column" value="1">
            <button type="submit" class="btn btn-primary btn-block mt-3">Plot distribution</button>
          </form>
        </div>
  
        <!-- טופס קשר -->
        <div class="col-md-6 pl-md-4">
          <form method="post">
            {% csrf_token %}
            <h5 class="text-center mb-3">🔗 Plot Connection</h5>
            <div class="form-group">
              <label for="column1 ">Select the first column:</label>
              {{ pair_form.column1  }}
            </div>
            <div class="form-group">
              <label for="column2">Select the second column:</label>
              {{ pair_form.column2  }}
            </div>
            <input type="hidden" name="column_pair" value="1">
            <button type="submit" class="btn btn-success btn-block mt-3">Plot connection</button>
          </form>
        </div>
      </div>
  
      {% if visuals %}
        <hr class="my-5">
        <h3 class="text-center mb-4">📈 Visualization Results</h3>
        <div class="row justify-content-center">
          {% for visual in visuals %}
            <div class="col-lg-10 text-center mb-5">
              <img src="data:image/png;base64,{{ visual.img }}" class="img-fluid rounded shadow-sm mb-3 clickable-img" onclick="openFullScreen(this)">
              <a href="data:image/png;base64,{{ visual.img }}" download="graph_{{ forloop.counter }}.png" class="btn btn-outline-primary btn-block">Download image</a>
            </div>
          {% endfor %}
        </div>
      {% endif %}
  
      <div class="text-center mt-4">
        <a href="{% url 'train_models' %}" class="btn btn-success btn-lg px-5">Go to modeling</a>
      </div>
  
    </div>
  </div>
  
{% endblock %}
